[pylint]
disable=
    bare-except,
    broad-except,
    consider-using-dict-items,
    consider-using-f-string,
    consider-using-with,
    duplicate-code,
    f-string-without-interpolation,
    global-at-module-level,
    global-statement,
    global-variable-not-assigned,
    import-error,
    inconsistent-return-statements,
    invalid-name,
    line-too-long,
    missing-function-docstring,
    missing-module-docstring,
    no-else-break,
    no-member,
    protected-access,
    redefined-outer-name,
    superfluous-parens,
    too-many-arguments,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-statements,
    trailing-whitespace,
    ungrouped-imports,
    unidiomatic-typecheck,
    unnecessary-lambda,
    unspecified-encoding,
    unused-argument,
    unused-import,
    unused-variable,
    useless-return,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
